<div class="face-snap-card" [ngClass]="{ snapped: ifSnap }">
  <h2>{{ faceSnap.title }}</h2>
  @if (faceSnap.location) {
  <p>📍Localisation : {{ faceSnap.location }}</p>
  } @else { Localisation non spécifiée }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt }}</p>
  <p>
    <button (click)="onSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }"
      >🤌 {{ faceSnap.snaps }}
    </span>
  </p>
</div>
